<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="\css\styles\register.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://fonts.googleapis">
    <link rel="stylesheet" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <script src="https://kit.fontawesome.com/ef41563829.js" crossorigin="anonymous"></script>
    <link href= "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
     <title>Registro de Mercado Liebre</title>



<body>
    <header>
        <form action="register.html" method="post"></form>
<section class="secHeader">
    <div class="logo">
<a href="home.html"><img src="imagenes\logo-mercado-liebre.svg" alt=""></a>
    </div>
     <h2>
    Registro de Usuario
     </h2> 
</section>
    </header>

    <main>
     <div class="formulario">
        <h3>Ingresa tus datos</h3>
          <div class="nombreApellido">
           <!-- <label for="nombreConApellidos"></label> <br>-->
            <input type="text" name="nombreConApellidos" id="nombreConApellidos" placeholder="Nombres y Apellidos">
            
             </div>
             <br>
              <div class="nombreDeUsuario">
                <!--<label for="nombreUser"></label> <br>-->
               <input type="text" name="nombreUser" id="nombreUser" placeholder="¿Cuál sería tu nombre de usuari@?">
              </div>
              <br>
                <div class="email">
                    <input type="email" name="email" id="email" placeholder="ejemplo: mercadoliebre.com">
                    <!--<label for="email">email</label>-->
                </div> 
                <br>
                   <div class="fechaDeNaciminetoClass">
                    <label for="fechaDeNacimineto">Selecciona tu fecha de nacimiento con el formato dd/mm/aaaa</label> <br>
                    <input type="date" name="fechaDeNacimineto" value="2024-02-25" min="2024-01-01" max="2024-12-31">
                   </div> 
                   <br>
                <div class="classDomicilio">
                    <input type="text" name="ciudad" id="ciudad" placeholder="Ciudad">
                    <!--<label for="ciudad">Tú ciudad</label>-->
                    <input type="text" name="alcaldia" id="alcaldia" placeholder="Alcaldía">
                    <!--<label for="alcaldia">Alcaldía</label>-->
                    <input type="text" name="colonia" id="colonia" placeholder="Colonia">
                    <!--<label for="colonia">Colonia</label>-->
                    <input type="text" name="calle" di="calle" placeholder="Calle">
                    <!--<label for="calle">Calle</label>-->
                </div>
              <br>
            <div class="comprarOvenderClass">
                <label for="comprarOvender">¿Comprar o vender?</label> <br>
               <input type="radio" name="comprarOvender" id="comprarOvender" value="comprar" checked> <label for="comprarOvender">comprar</label>
               <input type="radio" name="comprarOvender" id="comprarOvender" value="Vender"> <label for="comprarOvender">Vender</label>
            </div>
            <br>
        <div class="interesClass">
            <label for="intereses">¿Cuáles son tus interes?</label>
         <input type="checkbox" name="intereses" value="electronica"><label for="intereses">Electrónica</label>
         <input type="checkbox" name="intereses" value="moda"><label for="intereses">Moda</label>
         <input type="checkbox" name="intereses" value="hogar"><label for="intereses">Hogar</label>
         <input type="checkbox" name="intereses" value="juguetería"><label for="intereses">Juguetería</label>
         <input type="checkbox" name="intereses" value="vida Sana"><label for="intereses">Vida Sana</label>
        </div>
        <br>
        <br>
    <div class="fotoClass">
      <label for="fotoDePerfil">Sube tú foto de perfil</label>
      <input type="fiñe" name="fotoDePerfil" placeholder="jpg, png">
    </div>
    <br>
    <div class="contraseñaClass">
        <label for="contraseña">Contraseña</label>
<input type="password" name="contraseña" value="password">
    </div>
    <br>
    <div class="confiPasswordClass">
 <label for="confipassword">Confirma tu contraseña</label>
 <input type="password" name="confipassword" value="password">
</div>
<br>
<div class="buttons">
<button type="reset">Borrar</button>
<button type="submit">Enviar</button>  
</div>
</di>        
</div>
</main>

    <footer>
<section class="secFooter">
   <!--<div class="containerFooter">
        <p>Todos los derechos son reservados y pertenecen a Mercado Liebre.</p>
    </div>-->
</section>
    </footer>
</body>
